* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: "Jost";
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	color: #333333;
	background-color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
/*----------------------технические классы-------------------------------*/
._container {
	max-width: 1205px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
 } 
/*--------------------Page--------------------------*/
.page__main-block {
}
.page__collection {
}
.page__selling {
}
.page__delivery {
}
.page__reviews {
} 
.page__shop {
}
.page__option {
}
.page__blog {
}
.page__sign {
}
.page__instagram {
}
/*-----------------Slider-----------------------------------*/
.slider {
	display: flex;
	align-items: center;	
	position: relative;
	z-index: 5;	
}
.slider__control {
	
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #161616;
	
}
.slider__control:not(:last-child) {
	margin: 0 15px 0 0;
}
.slider__control1 {
}
.slider__control2 {
	width: 14px;
	height: 14px;
	border: 0;
	background-image: url("/img/mainblock/round-active.svg");
}
.slider__control3 {
}
/*----------------------Title Block---------------------------*/
.title-block {
	text-align: center;
}
.title-block__title {
	font-weight: 600;
	font-size: 36px;
	line-height: 144%;
	text-align: center;
	color: #000000;
	text-transform: capitalize;
}
.title-block__title:not(:last-child) {
	margin: 0 0 16px 0;
}
.title-block__subtitle {
	line-height: 164%;
	text-align: center;	
	color: #000000;
}

/*----------------------header-------------------------------*/
.header {
	
	
}
.header__container {
	display: flex;	
	align-items: center;
	min-height: 110px;
}

.header__menu {
	max-width: 335px;
	margin: 0 113px 0 0;
	/* flex: 0 1 28.51%; */
}

.menu-header {
}
.menu-header__list {
	display: flex;	
}
.menu-header__item:not(:last-child) {
	margin: 0 40px 0 0;
}
.menu-header__link {
	font-size: 13px;
	line-height: 146%;
	color: inherit;
}
.heder__logo {
	/* flex: 0 0 11.06%; */
	display: flex;
	align-items: flex-end;
	margin: 0 130px 0 0;
}
.header__form {
	/* flex: 0 1 24.51%; */
	display: flex;
	align-items: center;
	margin: 0 79px 0 0;
	max-width: 288px;
}
.header__input {
	flex: 1 1 auto;
	font-size: 13px;
	min-height: 50px;
	line-height: 146%;
	color: #999999;
	padding: 16px 30px 16px 13px;
	border: 1.5px solid #023047;
	border-right: 0;	
}
.header__form-category {	
	font-size: 13px;
	line-height: 146%;
	color: #999999;
	padding: 16px 22px 16px 0;
	border-top: 1.5px solid #023047;
	border-bottom: 1.5px solid #023047;
	position: relative;
}

.header__form-category::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	right: 7px;
	top: 48%;
	background-image: url("../img/header/icon/svitch.svg");
	background-repeat: no-repeat ;
	cursor: pointer;
}
.header__form-button {
	background-color: #023047;
	outline: 1.5px solid #023047;
	min-height: 50px;
	min-width: 50px;
}

.header__form-button:hover {
	background-color: #4886a4;
	outline: 1.5px solid #4886a4;
} 

.header__icon-list {
	/* flex: 0 1 8.851%; */
	display: flex;
}
.header__icon-item {
	cursor: pointer;
}
.header__icon-item:not(:last-child) {
	margin: 0 20px 0 0;
}

@media (max-width: 1280px) {
	.header__container {
		align-items: baseline;		
	}
	.header {
		padding: 20px 0;
	} 
	
	.header__container {
		flex-wrap: wrap;
	}
	.header__menu {
		order: 2;
		flex: 0 1 50%;
		margin: 0;
		margin-right: auto;
		margin-bottom: 30px;
		min-width: 330px;
		justify-content: space-between;
	} 
	.menu-header__item:not(:last-child) {
		margin-right: 20px;
	}
	.menu-header__link {
		font-size: 18px;
	}

	.heder__logo {
		order: -1;
		margin-bottom: 30px;
	} 
	.header__form {
		order: 3;		
		margin-right: 25px;
	}
	.header__form-button {
		margin-right: 25px;
		box-sizing: content-box;
		border-bottom: 1.5px solid #023047;	
	}	
	.header__icon-list {
		order: 4;
	}	
}

@media (max-width: 800px) {
	.header__form {
		flex: 1 1 50%;
	}
	.heder__logo {
		flex: 1 1 20%;
	}
	.header__input {
		max-width: 50%;
	}	
}

@media (max-width: 565px) {
	.header__icon-list {
		order: 4;
	}
	.header__form {
		margin-bottom: 45px;
	}
	.menu-header__item:not(:last-child) {
		margin: 0 20px 0 0;
	}
	.header__input {
		max-width: 50%;
	}
}


/*-------------------Main block--------------------*/

.main-block {	
	background-color: #eeeeee;
	position: relative;
}
.main-block__container {
	position: relative;
}

.main-block__container::before {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-left.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 38%;
	left: -70px;
	border: 1px solid #023047;
	z-index: 4;
	padding-top: 2px;
	cursor: pointer;
} 

.main-block__container::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-right.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 38%;
	right: -70px;
	border: 1px solid #023047;
	z-index: 4;	
	background-color: #023047;
	padding-top: 2px;
	cursor: pointer;
	
}

.main-block__body {
	flex: 0 1 40.08%;
	padding: 150px 0 240px 0;
	max-width: 480px;
	position: relative;
	z-index: 2;
}
.main-block__content {
}
.main-block__announcement {
	line-height: 100%;
	color: #023047;
	margin: 0 0 11px 0;
}
.main-block__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	margin: 0 0 14px 0;
}
.main-block__subtitle {
	line-height: 118%;
	margin: 0 0 32px 0;
}
.main-block__button {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 50px;
	background-color: #023047;
	border: 1px solid #023047;
	color: #fff;
	font-weight: 600;
	line-height: 118%;
	text-transform: uppercase;
	padding: 5px 25px;
}

.main-block__button:hover {
	background-color: #fff;
	border: 1px solid #023047;
	color: #023047;
	transition: all 0.5s ease 0s;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.main-block__image img {
	object-position: right top;
}

.main-block__slider-controls {
	transform: translateX(50%);
	bottom: 35px;
}


@media(max-width: 1362px) {
	.main-block__container::before {
		top: 91%;
		left: 40%;
		border-radius: 50%;
	}	
	
	.main-block__container::after{
		top: 91%;
		right: 35%;
		border-radius: 50%;
	}
}

@media (max-width: 1140px) {
	.main-block__image img {
		object-position: 70% top;
	}
}

@media (max-width: 900px) {
	.main-block__container::before,	
	.main-block__container::after {
		display: none;
	}
	.main-block__image img {
		opacity: 0.5;
		object-position: 80% top;
}
	.main-block__title {
		font-size: 46px;
}
	.main-block__subtitle {	
		font-size: 18px;
}
.main-block__slider-controls {	
	bottom: 78px;
}
}
/*-------------Collection------------------*/

.collection {
	padding: 100px 0;
}
.collection__container {
}

.collection__columns {
	display: flex;
	margin: 0 -15px;
}
.collection__column {
	flex: 0 0 50%;
	padding: 0 15px;
}

.column-collection {
	
}

.column-collection--left {
	min-height: 450px;
	position: relative;
}
.column-collection__content {
	position: absolute;
	z-index: 6;
	padding-top: 200px;
	padding-left: 335px;
}

.column-collection__content >*:not(:last-child) {
	margin: 0 0 10px 0;
}
.column-collection__sale {
	line-height: 20px;
	color: #023047;
}
.column-collection__title {
	font-size: 24px;
	line-height: 146%;
	color: #000000;
}
.column-collection__button {
	display: inline-flex;
	min-width: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px 20px;
	font-size: inherit;
	line-height: 143%;
	color: #000000;
	background-color: #fff;
	border: 1px solid #000000
}

.column-collection__button:hover {
	background-color: #023047;;
	border: 1px solid #023047;
	color: #fff;
	transition: all 0.5s ease 0s;
}

.column-collection__image {
	}

.column-collection__item {
}

.item-column {
	position: relative;
	min-height: 210px;
}
.item-column--top {
	margin: 0 0 30px 0;
}
.item-column--bottom {
	right: 0;
	bottom: 0;
}

.item-column__image {
	
} 
.item-column__content >*:not(:last-child) {
	margin: 0 0 10px 0;
}

.item-column__content {
	position: absolute;
	z-index: 6;
}

.item-column__content--top {	
	top: 44px;
	left: 37px;
}
.item-column__content--bottom {		
	max-width: 230px;
	top: 60px;
	left: 325px;
}

.item-column__sale {
	line-height: 143%;
	color: #023047;
}
.item-column__title {
	font-size: 24px;
	line-height: 146%;
	color: #000000;
}
.item-column__button {	
	display: inline-flex;
	min-width: 50px;
	align-items: center;
	justify-content: center;
	padding: 13px 23px;
	font-size: inherit;
	line-height: 143%;
	color: #000000;
	background-color: #fff;
	border: 1px solid #000000
}

.item-column__button:hover {
	background-color: #023047;;
	border: 1px solid #023047;
	color: #fff;
	transition: all 0.5s ease 0s;
}

@media (max-width: 1200px) {
	
	.collection {
		padding: 50px 0;
		background-color: #fff;
	}
	.collection__columns {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1050px;
		
	}
	.collection__column {
		padding: 0; 
		flex: 0 1 570px;
		
}
.column-collection--left {
	margin: 0 0 30px 0;
}
.item-column__content--top {	
	position: absolute;
}
}

@media (max-width: 600px) {
	.column-collection--left {
		min-height: auto;
		position: relative;
  }
	.column-collection--left {
		margin: 0 0 15px 0;
	}
	.column-collection__image {
		padding-bottom: 78.947%;
		position: relative;
		object-fit: contain;
		
	}
	.column-collection__image img {		
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		object-position: left;
	}
	
	.item-column {
		min-height: auto;
	}

	.item-column--top {
		margin: 0 0 15px 0;
	}

	.item-column__content--bottom {		
		top: 10px;
		position: absolute;
}
	.item-column__content--top {
		padding-top: 37px;
		position: absolute;
		top: 0;
	}
	.item-column__image {
		padding-bottom: 36.842%;
		position: relative;
	}
	.item-column__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;	
	}

	.column-collection__content {		
		padding-top: 16%;
		padding-left: 55%;
	}
}

@media (max-width: 479px) {
	.collection {
		padding: 35px 0;
}
	.column-collection__content {		
		padding-top: 16%;
		padding-left: 55%;
}
.column-collection__button {	
	min-width: auto;
	padding: 11px;
}
.item-column__content--top {
	padding-top: 15px;   
}
.item-column__content >*:not(:last-child) {
	margin: 0 0 2px 0;
}
.item-column__title {
	font-size: 18px;
	line-height: 132%;
}
.item-column__button {	
	padding: 8px 17px;
}
.item-column__content--bottom {
	min-width: auto;
	left: 256px;
	top:37px;
}
.item-column__sale {
	font-size: 12px;
}
}

@media (max-width: 415px) {
	.column-collection__button {
		padding: 6px 11px;
	}
	.item-column__content--bottom {
	top:3px;
	left: 213px;
	}
	.item-column__button {
		padding: 6px 14px;
	}
}
/*-------------Selling------------------*/

.selling {
	padding: 87px 0 134px 0;
	background-color: #F5F5F5;
}
.selling__container {
}
._container {
}


.selling__container {
	position: relative;
}

.selling__container::before {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-left.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 100%;
	left: 37%;
	border: 1px solid #023047;
	z-index: 4;
	padding-top: 2px;
	cursor: pointer;
} 

.selling__container::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-right.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 100%;
	right: 37%;
	border: 1px solid #023047;
	z-index: 4;	
	background-color: #023047;
	padding-top: 2px;
	cursor: pointer;	
}

.selling__title-block {
	margin: 0 0 69px 0;
}

.selling__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.selling__item {
}
.item-selling {
	padding: 0 15px;	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	flex: 1 1 100%;	
}
.item-selling:not(:last-child) {
	margin: 0 0 30px 0;
}
.item-selling__body {
	position: relative;	
	padding: 12px 12px 0 12px; 
	background: #FFFFFF;
	border: 1px solid #CCCCCC;	
}
.item-selling__image {
	
	margin: 0 0 27px 0;
	padding: 0 0 95.086% 0;
}

.item-selling__image img {			
	}

.item-selling__text {
	text-align: center;
	
}
.item-selling__text:not(:last-child) {
	margin: 0 0 11px 0;
}
.tem-selling__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 134%;
	margin: 0 0 10px 0;
	text-transform: capitalize;
}
.tem-selling__price {
	font-weight: 500;
	font-size: 18px;
	line-height: 144%;
	color: #333333;
}
.item-selling__button-field {
	display: none;
	text-align: center;
	padding-top: 15px;
	max-width: 641px;
	min-height: 70px;
	background: rgba(2, 48, 71, 0.9);
	position: relative;
	width: 100%;	
}

.item-selling:hover .item-selling__button-field {
	display: block;
}

.item-selling:hover {
	transform: translate(0, -20px);
	transition: all 0.5s ease 0s;	
}


.item-selling__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	padding: 12px 20px 12px 38px;
	background-color: #fff;
	color: #023047;
	position: relative;
}

.item-selling__button::after {
	content: "";
	position: absolute;
	width: 11px;
	height: 12px;
	background-image: url("../img/selling/icon/04.svg");
	background-repeat: no-repeat;
	top: 15px;
	left: 18px;
}

.item-selling__button:hover {
	background-color: #F5F5F5;
}

.item-selling__activity-btn {
	display: none;
	position: absolute;
	top: 30px;
	right: 24px;
}

.item-selling:hover .item-selling__activity-btn  {
	display: block;
}
.activity-btn {
	cursor: pointer;
	
}
.activity-btn__1 {
}
.activity-btn__2 {
}
.activity-btn__link {
}
.activity-btn__3 {
}

@media (min-width: 673px) {
	.selling__items {		
		flex-wrap: no-wrap;
	}
	.item-selling {		
		flex: 0 1 33.333%;
	}
}
@media (min-width: 1386px) {	
	.selling__container::before {	
		top: 52%;
		left: -70px;		
	} 
	
	.selling__container::after {		
		top: 52%;
		right: -70px;		
	}
}
@media (max-width: 1200px) {
	.selling__title-block {
		margin: 0 0 40px 0;
  }
}

@media (max-width: 992px) {
	.item-selling__activity-btn {
		right: 12px;
}
}

@media (max-width: 673px) {
	.selling {
		padding: 60px 0;		
}		
	.tem-selling__title {		
		font-size: 17px;
		line-height: 126%;
		margin: 0px 0 6px 0;		
}
.tem-selling__price {	
	font-size: 17px;
	line-height: 120%;	
}
.item-selling__activity-btn {
	right: 36px;
}
}

@media (max-width: 479px) {
	
	.item-selling__activity-btn {
		right: 18px;
	}
	
}

/*---------------Delivery------------------*/


.delivery {
	background-color: #023047;
	padding: 100px 0;
}
.delivery__container {
}

.delivery__row {
	min-height: 100px;
	background-color: #fff;
	margin: 0 105px 0 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 30px 5px;
}

.delivery__offer {
	font-weight: 500;
	font-size: 24px;
	line-height: 146%;		
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}
.delivery__coupon {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	padding-right: 10px;	
	text-transform: uppercase;
	padding: 15px 30px;
	color: #023047;
	border: 1px dashed #023047;
}
.delivery__discount {
	font-weight: 500;
	font-size: 18px;
	line-height: 144%;
	padding-left: 10px;	
	color: #000000;	
}

@media(max-width: 1100px) {
	.delivery__row {
		justify-content: flex-start;
	}
	.delivery__discount {
		align-self: flex-end;
	} 
	.delivery__offer {
		margin-right: auto;
	}
	.delivery__coupon {
		margin-right: 10px;
		}
}

@media(max-width: 1100px) {
	.delivery__row {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
	.delivery__row >*:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.delivery__discount {
		align-self: center;
	}	
}

@media(max-width: 600px) {
	.delivery {		
		padding: 60px 0;
	}
}

/*---------------------Reviews------------------------*/

.reviews {
	padding: 87px 0 100px 0;

}
.reviews__text {
}
.reviews__container {

}
.reviews__title-block {
	margin: 0 0 29px 0;
}
.text-reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.text-reviews__text {
	max-width: 570px;
	font-style: italic;	
	font-size: 18px;
	line-height: 181.5%;
	text-align: center;	
	color: #000000;
	margin: 0 0 29px 0;
}

.text-reviews__author {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 16px 0;
}

.text-reviews__image {
	margin: 0 0 11px 0;
	
}
.text-reviews__name {
}
.text-reviews__profession {
}
.text-reviews__slider-controls {
}


@media (max-width: 600px) {	
	.reviews {
		padding: 50px 0 50px 0;	
	}	
}

/*---------------------Shop------------------*/

.shop {
	padding: 80px 0 100px 0;
	background-color: #999999;
	position: relative;
}
.shop__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shop__title-block{
	text-align: center;
	max-width: 570px;
	position: relative;
	z-index: 5;
	
}

.title-block__shop-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 156.6%;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0 0 7px 0;
}

.title-block__shop-title span {
	font-weight: 700;
	font-size: 48px;
	line-height: 113.5%;
}

.title-block__shop-title:not(:last-child) {
	margin: 0 0 16px 0;
}
.title-block__shop-subtitle {	
	line-height: 150.5%;
	color: #FFFFFF;
	margin: 0 0 17px 0;
}

.title-block__shop-button {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 25px;
	background-color: #fff;
	border: 1px solid #fff;
	color: inherit;
}

.title-block__shop-button:hover {
	background-color: rgb(230, 228, 228);
	border: 1px solid #787878;
	color: #023047;
	transition: all 0.5s ease 0s;
}

.shop__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	object-fit: cover;
}

/*----------------Option---------------*/

.option {
	background-color: #F3F3F3;
	padding: 100px 0;
}
.option__container {
}
.option__row {
	display: flex;	
	justify-content: space-between;
	margin: 0 -15px;
	
}
.option__item {
}

.item-option {
	padding: 0 15px;
	flex: 0 1 25%;	
}

.item-option__body {
	padding: 22px 42px;
	border: 1px solid #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/* justify-content: center; */
	height: 100%;
}

.item-option:hover .item-option__body  {
	background-color: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transition: all 0.5s ease 0s;	
}

.item-option__body img {
	margin: 0 0 8px 0;
}

.item-option__icon {
}
.item-option__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 146%;
}
.item-option__text {	
	line-height: 143%;
	color: #666666;
}

@media (max-width: 840px) {
	.option__row {	
	flex-wrap: wrap;
	justify-content: center;
	}

	.option__item{
		min-width: 195px;
		margin: 0 0 30px;
	}
	
}

@media (max-width: 840px) {
	.item-option {
		flex: 0 1 50%;
	}
}

@media (max-width: 390px) {
	.option {
		padding: 60px 0 40px 0;
	}
	.item-option {
		flex: 1 1 100%;
	}
}

/*-----------------Blog--------------------*/

.blog {
	padding: 84px 0 125px 0;
}
.blog__container {
}

.blog__title-block {
	margin: 0 auto 46px auto;
}
.blog__title-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 570px;
	
}

.title-block__blog-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 143%;
	margin: 0 0 17px 0;
}
.title-block__blog-subtitle {
	line-height: 143%;
}
.blog__row {
	display: flex;
	margin: 0 -15px
}


.blog__column {
	padding: 0 15px;
	min-height: 100%;
	
}
.blog__column--left {
	flex: 0 1 58.3%;	
}
.blog__column--right {
	flex: 0 1 42%;
	display: flex;
	flex-direction: column;
}

.blog__column--right .card-blog {
	padding: 0 0 13px 0;
}

/* .blog__column--right .card-blog:last-child {
	padding: 0 0 18px 0;
} */

.blog__column--right>*:not(:last-child) {
	margin: 0 0 30px 0;
}

.card-blog {
	background-color: #f5f5f5;	
}
.card-blog__image {
}

.card-blog__image--left {
	position: relative;
	padding-bottom: 59.701%;
	margin: 0 0 15px 0;

}
.card-blog__cover-left {
	padding: 0 0 32px 19px;
}
.card-blog__body {
	display: flex;
	padding: 0 22px 0 12px;
	max-height: 100%;
}
.card-blog__cover-info {
	
}

.card-blog__date {
	font-weight: 500;
	font-size: 10px;
	line-height: 140%;
	text-transform: uppercase;
	margin: 0 0 8px 0;
}


.card-blog__title {
}

.card-blog__image--right {
	position: relative;
	padding-bottom: 50.851%;
	margin: 0 0 11px 0;
}


.card-blog__title--left {
	font-weight: 500;
	font-size: 24px;
	line-height: 141.6%;
	text-decoration-line: underline;
	margin: 0 0 13px 0;
}
.card-blog__title--right {
	font-weight: 500;
	line-height: 137%;
	max-width: 265px;
	font-size: 14px;
	margin-right: 34px;

}
.card-blog__text {
	line-height: 143%;
	color: #666666;
	margin: 0 0 21px 0;
	padding: 0 22px 0 0;
}
.card-blog__button {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-height: 50px;
	padding: 15px 30px;
	background-color: #023047;
	border: 1px solid #023047;
	font-weight: 500;	
	line-height: 143%;
	color: #FFFFFF;
}

.card-blog__button:hover {
	background-color: #fff;
	border: 1px solid #023047;
	color: #023047;
	transition: all 0.5s ease 0s;	

}

@media (max-width: 1186px) {
	.blog__row {
		flex-wrap: wrap;
	}
	.blog__column {
		padding: 0;		
  }
	.blog__column--left {
		flex: 1 1 100%;
	}
	.blog__column--right {
		flex: 1 1 100%;
		flex-direction: row;
		justify-content: space-around;
	}
	.blog__column--right>*:not(:last-child) {
		margin: 0 20px 0 0;
  }
  .blog__column--left .card-blog {
	margin: 0 0 20px 0;
  }
  .card-blog__title--right {	
	font-size: 15px;	
}
.card-blog__text {
	font-size: 15px;	
}
}

@media (max-width: 779px) {
	.blog {
		padding: 40px 0 50px 0;
}
	.blog__column--right {
		flex-wrap: wrap;
		justify-content: center;		
	}
	.blog__column--right>*:not(:last-child) {
		margin: 0 0 20px 0;
}
.blog__column--right .card-blog {
	flex: 1 1 100%;
}
.card-blog__body {
	justify-content: space-between;
}
.card-blog__title--right {	
	max-width: 100%;	
}
.card-blog__title--right {	
	font-size: 14px;	
}
}
/*---------------Sign-------------------*/

.sign {
	color: #fff;
	padding: 92px 0 100px 0;	
	position: relative;
}
.sign__container {
	
}

.sign__title {
}
.tile-sign {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 14px 0;
}
.title-sign__title {
	font-weight: 500;
	font-size: 143%;
	line-height: 43px;
	margin: 0 0 6px 0;
}
.title-sign__subtitle {
	font-size: 14px;
	line-height: 143%;	
	max-width: 450px;
	text-align: center;
}
.sign__form {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 5;
}
.sign__input {
	background-color: #fff;
	min-height: 50px;
	min-width: 443px;
	padding: 15px 0 15px 16px;
	color: #999999;
	line-height: 143%;
}
.sign__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #023047;
	color: inherit;
	min-height: 50px;
	padding: 15px 17px 15px 16px;
	font-weight: 600;
	line-height: 143%;
}
.sign__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}


@media (max-width: 600px) {
	.sign {		
		padding: 50px 0;			
	}
	.sign__input {		
		min-width: 50%;		
	}
}
/*-----------------Instagram------------------*/

.instagram {
	background-color: #f3f3f3;
	padding: 100px 0;
}
.instagram__container {
	
}
.instagram__wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.instagram__box {
	text-align: center;
	margin: 0 0 42px 0;
}
.instagram__icon {
}
.instagram__text {
	font-weight: 600;
	font-size: 24px;
	line-height: 181.5%;
	color: #000000;
}
.picture-instagram {
	display: flex;
}

.picture-instagram__image {
	position: relative;
	padding-bottom: 25%;
	flex: 0 1 25%;	
} 

@media (max-width: 992px) {
	.picture-instagram {
		flex-wrap: wrap;
	}
	.picture-instagram__image {
		flex: 0 1 50%;	
	} 
	
}

@media (max-width: 500px) {
	.instagram {
		padding: 60px 0;
  }
	.picture-instagram__image {
		flex: 1 1 100%;
		padding-bottom: 100%;	
	} 
}
/*----------------------Footer----------------------*/
.footer {
	padding: 94px 0 0 0;
}
.footer__top {
	padding: 0 0 100px 0;
}
.top-footer {
}
.top-footer__container {
}
.top-footer__row {
	display: flex;
	justify-content: space-between;
}
.row {
}
.row__item {
	flex: 0 1 14.468%;
}
.row__item:first-child,
.row__item:last-child {
	flex: 0 1 22.978%;
}
.item-row {
}
.item-row__logo {
	display: block;
	margin: 0 0 14.6px 0;
}
.item-row__text {
	line-height: 160.5%;
	margin: 0 0 10.4px 0;
}
.item-row__list--icons {
	display: flex;
	margin: 0 0 14px 0;
}
.item-row__element:not(:last-child) {
	margin: 0 15px 0 0;

}
.item-row__list {
}

.item-row__link {
}
.item-row__shop {
	line-height: 160.5%;
	text-decoration-line: underline;
	color: #666666;
}
.item-row__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 160.5%;
	color: #000000;
	margin: 0 0 12px 0;
}
.item-row:not(:last-child) {
	padding-right: 20px;
}

.item-row__point a {
	font-size: 14px;
	font-weight: 400;
	line-height: 180%;
	color: #000000;
}

.item-row__list--gallary {
	display: flex;
	flex-wrap: wrap;
	min-width: 275px;
	gap: 8px;
}

.item-row__title--gallery {
	margin: 0 0 4px 0;
}
/*---------------Footer-bottom--------------*/
.footer__bottom {
	padding: 29px 0 30px 0;
	min-height: 80px;
	background-color: #f3f3f3;
}
.bottom-footer__container {
}

.bottom-footer__row {
	display: flex;
	align-items: start;
	justify-content: space-between;
}
.bottom-footer__copy {
	line-height: 160.5%;
	color: #666666;
	text-transform: capitalize;
	padding: 0 20px 0 0;
}
.bottom-footer__copy span {
	font-weight: 500;
	color: #333333;
}
.bottom-footer__pay {
}
.pay {
}
.pay__list {
	display: flex;
	flex-wrap: wrap;
}
.pay__item:not(:last-child) {
	margin: 0 6px 0 0;
}
.pay__link {
}

@media (max-width: 879px) {
	.top-footer__row {
		flex-wrap: wrap;
	}
	.row__item:first-child {
		flex: 0 1 50%;
		margin-bottom: 20px;
	} 
	.row__item:nth-child(2),
	.row__item:nth-child(3) {
		flex: 0 1 25%;
		margin-bottom: 20px;
	}

	.row__item:nth-child(4),
	.row__item:last-child {
		flex: 0 1 50%;
	}
	.item-row__list--gallary {
		display: flex;
		flex-wrap: wrap;
		max-width: 275px;
		gap: 8px;
  }  
}
@media (max-width: 600px) {
.bottom-footer__copy {
	max-width: 175px;
}
}

@media (max-width: 600px) {
	.row__item:nth-child(4) {
		flex: 0 1 25%;
	}	
	.row__item:last-child {
		flex: 0 1 50%;
	}
	.footer {
		padding: 40px 0 0 0;
  }
  .footer__top {
	padding: 0 0 40px 0;
}
}


@media (max-width: 479px) {
	.row__item:first-child {
		padding-right: 10px;
	}
	.row__item:first-child,
	.row__item:nth-child(2) {
		flex: 0 1 50%;
		margin-bottom: 20px;
		p
	} 
	
	.row__item:nth-child(3),
	.row__item:nth-child(4) {
		flex: 0 1 50%;
		margin-bottom: 20px;
	}
	.row__item:last-child {
		flex: 1 1 100%;
	}

	
}