* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: "Jost";
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	color: #333333;
	background-color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
/*----------------------технические классы-------------------------------*/
._container {
	max-width: 1205px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
 } 
/*--------------------Page--------------------------*/
.page__main-block {
}
.page__collection {
}
.page__selling {
}
.page__delivery {
}
/*----------------------header-------------------------------*/
.header {
	
	
}
.header__container {
	display: flex;	
	align-items: center;
	min-height: 110px;
}

.header__menu {
	max-width: 335px;
	margin: 0 113px 0 0;
	/* flex: 0 1 28.51%; */
}

.menu-header {
}
.menu-header__list {
	display: flex;	
}
.menu-header__item:not(:last-child) {
	margin: 0 40px 0 0;
}
.menu-header__link {
	font-size: 13px;
	line-height: 146%;
	color: inherit;
}
.heder__logo {
	/* flex: 0 0 11.06%; */
	display: flex;
	align-items: flex-end;
	margin: 0 130px 0 0;
}
.header__form {
	/* flex: 0 1 24.51%; */
	display: flex;
	align-items: center;
	margin: 0 79px 0 0;
	max-width: 288px;
}
.header__input {
	flex: 1 1 auto;
	font-size: 13px;
	min-height: 50px;
	line-height: 146%;
	color: #999999;
	padding: 16px 30px 16px 13px;
	border: 1.5px solid #023047;
	border-right: 0;	
}
.header__form-category {	
	font-size: 13px;
	line-height: 146%;
	color: #999999;
	padding: 16px 22px 16px 0;
	border-top: 1.5px solid #023047;
	border-bottom: 1.5px solid #023047;
	position: relative;
}

.header__form-category::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	right: 7px;
	top: 48%;
	background-image: url("../img/header/icon/svitch.svg");
	background-repeat: no-repeat ;
	cursor: pointer;
}
.header__form-button {
	background-color: #023047;
	outline: 1.5px solid #023047;
	min-height: 50px;
	min-width: 50px;
}

.header__form-button:hover {
	background-color: #4886a4;
	outline: 1.5px solid #4886a4;
} 

.header__icon-list {
	/* flex: 0 1 8.851%; */
	display: flex;
}
.header__icon-item {
	cursor: pointer;
}
.header__icon-item:not(:last-child) {
	margin: 0 20px 0 0;
}

@media (max-width: 1280px) {
	.header__container {
		align-items: baseline;		
	}
	.header {
		padding: 20px 0;
	} 
	
	.header__container {
		flex-wrap: wrap;
	}
	.header__menu {
		order: 2;
		flex: 0 1 50%;
		margin: 0;
		margin-right: auto;
		margin-bottom: 30px;
		min-width: 330px;
		justify-content: space-between;
	} 
	.menu-header__item:not(:last-child) {
		margin-right: 20px;
	}
	.menu-header__link {
		font-size: 18px;
	}

	.heder__logo {
		order: -1;
		margin-bottom: 30px;
	} 
	.header__form {
		order: 3;		
		margin-right: 25px;
	}
	.header__form-button {
		margin-right: 25px;
		box-sizing: content-box;
		border-bottom: 1.5px solid #023047;	
	}	
	.header__icon-list {
		order: 4;
	}	
}

@media (max-width: 800px) {
	.header__form {
		flex: 1 1 50%;
	}
	.heder__logo {
		flex: 1 1 20%;
	}
	.header__input {
		max-width: 50%;
	}	
}

@media (max-width: 565px) {
	.header__icon-list {
		order: 4;
	}
	.header__form {
		margin-bottom: 45px;
	}
	.menu-header__item:not(:last-child) {
		margin: 0 20px 0 0;
	}
	.header__input {
		max-width: 50%;
	}
}


/*-------------------Main block--------------------*/

.main-block {	
	background-color: #eeeeee;
	position: relative;
}
.main-block__container {
	position: relative;
}

.main-block__container::before {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-left.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 38%;
	left: -70px;
	border: 1px solid #023047;
	z-index: 4;
	padding-top: 2px;
	cursor: pointer;
} 

.main-block__container::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-right.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 38%;
	right: -70px;
	border: 1px solid #023047;
	z-index: 4;	
	background-color: #023047;
	padding-top: 2px;
	cursor: pointer;
	
}

.main-block__body {
	flex: 0 1 40.08%;
	padding: 150px 0 240px 0;
	max-width: 480px;
	position: relative;
	z-index: 2;
}
.main-block__content {
}
.main-block__announcement {
	line-height: 100%;
	color: #023047;
	margin: 0 0 11px 0;
}
.main-block__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	margin: 0 0 14px 0;
}
.main-block__subtitle {
	line-height: 118%;
	margin: 0 0 32px 0;
}
.main-block__button {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 50px;
	background-color: #023047;
	color: #fff;
	font-weight: 600;
	line-height: 118%;
	text-transform: uppercase;
	padding: 5px 25px;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.main-block__image img {
	object-position: right top;
}

.main-block__slider-controls {
}
.slider {
	display: flex;
	align-items: center;
	bottom: 35px;
	position: relative;
	z-index: 5;
	transform: translateX(50%);
}
.slider__control {
	
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #161616;
	
}
.slider__control:not(:last-child) {
	margin: 0 15px 0 0;
}
.slider__control1 {
}
.slider__control2 {
	width: 14px;
	height: 14px;
	border: 0;
	background-image: url("/img/mainblock/round-active.svg");
}
.slider__control3 {
}

@media(max-width: 1362px) {
	.main-block__container::before {
		top: 91%;
		left: 40%;
		border-radius: 50%;
	}	
	
	.main-block__container::after{
		top: 91%;
		right: 35%;
		border-radius: 50%;
	}
}

@media (max-width: 1140px) {
	.main-block__image img {
		object-position: 70% top;
	}
}

@media (max-width: 900px) {
	.main-block__container::before,	
	.main-block__container::after {
		display: none;
	}
	.main-block__image img {
		opacity: 0.5;
		object-position: 80% top;
}
	.main-block__title {
		font-size: 46px;
}
	.main-block__subtitle {	
		font-size: 18px;
}
.slider {	
	bottom: 78px;
}
}
/*-------------Collection------------------*/

.collection {
	padding: 100px 0;
}
.collection__container {
}

.collection__columns {
	display: flex;
	margin: 0 -15px;
}
.collection__column {
	flex: 0 0 50%;
	padding: 0 15px;
}

.column-collection {
	
}

.column-collection--left {
	min-height: 450px;
	position: relative;
}
.column-collection__content {
	position: absolute;
	z-index: 6;
	padding-top: 200px;
	padding-left: 335px;
}

.column-collection__content >*:not(:last-child) {
	margin: 0 0 10px 0;
}
.column-collection__sale {
	line-height: 20px;
	color: #023047;
}
.column-collection__title {
	font-size: 24px;
	line-height: 146%;
	color: #000000;
}
.column-collection__button {
	display: inline-flex;
	min-width: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px 20px;
	font-size: inherit;
	line-height: 143%;
	color: #000000;
	background-color: #fff;
	border: 1px solid #000000
}

.column-collection__image {
	}

.column-collection__item {
}

.item-column {
	position: relative;
	min-height: 210px;
}
.item-column--top {
	margin: 0 0 30px 0;
}
.item-column--bottom {
	right: 0;
	bottom: 0;
}

.item-column__image {
	
} 
.item-column__content >*:not(:last-child) {
	margin: 0 0 10px 0;
}

.item-column__content {
	position: absolute;
	z-index: 6;
}

.item-column__content--top {	
	top: 44px;
	left: 37px;
}
.item-column__content--bottom {		
	max-width: 230px;
	top: 60px;
	left: 325px;
}

.item-column__sale {
	line-height: 143%;
	color: #023047;
}
.item-column__title {
	font-size: 24px;
	line-height: 146%;
	color: #000000;
}
.item-column__button {	
	display: inline-flex;
	min-width: 50px;
	align-items: center;
	justify-content: center;
	padding: 13px 23px;
	font-size: inherit;
	line-height: 143%;
	color: #000000;
	background-color: #fff;
	border: 1px solid #000000
}

@media (max-width: 1200px) {
	
	.collection {
		padding: 50px 0;
		background-color: #fff;
	}
	.collection__columns {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1050px;
		
	}
	.collection__column {
		padding: 0; 
		flex: 0 1 570px;
		
}
.column-collection--left {
	margin: 0 0 30px 0;
}
.item-column__content--top {	
	position: absolute;
}
}

@media (max-width: 600px) {
	.column-collection--left {
		min-height: auto;
		position: relative;
  }
	.column-collection--left {
		margin: 0 0 15px 0;
	}
	.column-collection__image {
		padding-bottom: 78.947%;
		position: relative;
		object-fit: contain;
		
	}
	.column-collection__image img {		
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		object-position: left;
	}
	
	.item-column {
		min-height: auto;
	}

	.item-column--top {
		margin: 0 0 15px 0;
	}

	.item-column__content--bottom {		
		top: 10px;
		position: absolute;
}
	.item-column__content--top {
		padding-top: 37px;
		position: absolute;
		top: 0;
	}
	.item-column__image {
		padding-bottom: 36.842%;
		position: relative;
	}
	.item-column__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;	
	}

	.column-collection__content {		
		padding-top: 16%;
		padding-left: 55%;
	}
}

@media (max-width: 479px) {
	.collection {
		padding: 35px 0;
}
	.column-collection__content {		
		padding-top: 16%;
		padding-left: 55%;
}
.column-collection__button {	
	min-width: auto;
	padding: 11px;
}
.item-column__content--top {
	padding-top: 15px;   
}
.item-column__content >*:not(:last-child) {
	margin: 0 0 2px 0;
}
.item-column__title {
	font-size: 18px;
	line-height: 132%;
}
.item-column__button {	
	padding: 8px 17px;
}
.item-column__content--bottom {
	min-width: auto;
	left: 256px;
	top:37px;
}
.item-column__sale {
	font-size: 12px;
}
}

@media (max-width: 415px) {
	.column-collection__button {
		padding: 6px 11px;
	}
	.item-column__content--bottom {
	top:3px;
	left: 213px;
	}
	.item-column__button {
		padding: 6px 14px;
	}
}
/*-------------Selling------------------*/

.selling {
	padding: 87px 0 134px 0;
	background-color: #F5F5F5;
}
.selling__container {
}
._container {
}


.selling__container {
	position: relative;
}

.selling__container::before {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-left.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 100%;
	left: 41%;
	border: 1px solid #023047;
	z-index: 4;
	padding-top: 2px;
	cursor: pointer;
} 

.selling__container::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url("/img/mainblock/arrow-right.svg");
	position: absolute;
	width: 40px;
	height: 40px;
	top: 100%;
	right: 41%;
	border: 1px solid #023047;
	z-index: 4;	
	background-color: #023047;
	padding-top: 2px;
	cursor: pointer;
	
}

.selling__title-block {
	margin: 0 0 69px 0;
}
.title-block {
	text-align: center;
}
.title-block__title {
	font-weight: 600;
	font-size: 36px;
	line-height: 144%;
	text-align: center;
	color: #000000;
	text-transform: capitalize;
}
.title-block__title:not(:last-child) {
	margin: 0 0 16px 0;
}
.title-block__subtitle {
	line-height: 164%;
	text-align: center;	
	color: #000000;
}
.selling__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.selling__item {
}
.item-selling {
	padding: 0 15px;	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	flex: 1 1 100%;	
}
.item-selling:not(:last-child) {
	margin: 0 0 30px 0;
}
.item-selling__body {
	position: relative;	
	padding: 12px 12px 0 12px; 
	background: #FFFFFF;
	border: 1px solid #CCCCCC;	
}
.item-selling__image {
	
	margin: 0 0 27px 0;
	padding: 0 0 95.086% 0;
}

.item-selling__image img {			
	}

.item-selling__text {
	text-align: center;
	
}
.item-selling__text:not(:last-child) {
	margin: 0 0 11px 0;
}
.tem-selling__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 134%;
	margin: 0 0 10px 0;
	text-transform: capitalize;
}
.tem-selling__price {
	font-weight: 500;
	font-size: 18px;
	line-height: 144%;
	color: #333333;
}
.item-selling__button-field {
	display: none;
	text-align: center;
	padding-top: 15px;
	max-width: 641px;
	min-height: 70px;
	background: rgba(2, 48, 71, 0.9);
	position: relative;
	width: 100%;	
}

.item-selling:hover .item-selling__button-field {
	display: block;
}

.item-selling:hover {
	transform: translate(0, -20px);
	transition: all 0.5s ease 0s;	
}


.item-selling__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	padding: 12px 20px 12px 38px;
	background-color: #fff;
	color: #023047;
	position: relative;
}

.item-selling__button::after {
	content: "";
	position: absolute;
	width: 11px;
	height: 12px;
	background-image: url("../img/selling/icon/04.svg");
	background-repeat: no-repeat;
	top: 15px;
	left: 18px;
}

.item-selling__button:hover {
	background-color: #F5F5F5;
}

.item-selling__activity-btn {
	display: none;
	position: absolute;
	top: 30px;
	right: 24px;
}

.item-selling:hover .item-selling__activity-btn  {
	display: block;
}
.activity-btn {
	cursor: pointer;
	
}
.activity-btn__1 {
}
.activity-btn__2 {
}
.activity-btn__link {
}
.activity-btn__3 {
}

@media (min-width: 673px) {
	.selling__items {		
		flex-wrap: no-wrap;
	}
	.item-selling {		
		flex: 0 1 33.333%;
	}
}
@media (min-width: 1386px) {	
	.selling__container::before {	
		top: 52%;
		left: -70px;		
	} 
	
	.selling__container::after {		
		top: 52%;
		right: -70px;		
	}
}
@media (max-width: 1200px) {
	.selling__title-block {
		margin: 0 0 40px 0;
  }
}

@media (max-width: 992px) {
	.item-selling__activity-btn {
		right: 12px;
}
}

@media (max-width: 673px) {
	.selling {
		padding: 60px 0;		
}		
	.tem-selling__title {		
		font-size: 17px;
		line-height: 126%;
		margin: 0px 0 6px 0;		
}
.tem-selling__price {	
	font-size: 17px;
	line-height: 120%;	
}
.item-selling__activity-btn {
	right: 36px;
}
}

@media (max-width: 479px) {
	
	.item-selling__activity-btn {
		right: 18px;
	}
	
}

/*---------------Delivery------------------*/


.delivery {
	background-color: #023047;
	padding: 100px 0;
}
.delivery__container {
}

.delivery__row {
	min-height: 100px;
	background-color: #fff;
	margin: 0 105px 0 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 30px 5px;
}

.delivery__offer {
	font-weight: 500;
	font-size: 24px;
	line-height: 146%;		
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}
.delivery__coupon {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	padding-right: 10px;	
	text-transform: uppercase;
	padding: 15px 30px;
	color: #023047;
	border: 1px dashed #023047;
}
.delivery__discount {
	font-weight: 500;
	font-size: 18px;
	line-height: 144%;
	padding-left: 10px;	
	color: #000000;	
}

@media(max-width: 1100px) {
	.delivery__row {
		justify-content: flex-start;
	}
	.delivery__discount {
		align-self: flex-end;
	} 
	.delivery__offer {
		margin-right: auto;
	}
	.delivery__coupon {
		margin-right: 10px;
		}
}

@media(max-width: 1100px) {
	.delivery__row {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
	.delivery__row >*:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.delivery__discount {
		align-self: center;
	}
	/* .delivery__coupon {
		flex: 1 1 auto;
		max-width: 170px;
		} */
}